<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>To-Do List</title>
    <link rel="stylesheet" href="/todo_style.css" />
  </head>
  <body>
    <div class="container" >
      <div class="todo-app">
        <h2>To-Do List <img src="/images/icon.png" /></h2>
        <div class="row">
          <input type="text" id="input-box" placeholder="add your text" name="text" />
          <button onclick="addTask()">add</button>
        </div>
        <ul id="list-container">
          
          <!-- <li class="checked">task 1</li>
        <li>task 2</li>
        <li>task 3</li> -->
          <!-- <li>
          <div class="text-container">
            <span>Sample Text</span>
          </div>
          <button class="edit">Edit</button>
          <button class="span">Span</button>
        </li> -->
        </ul>
      </div>
    </div>
      <script src="/todo.js"></script> 
  </body>
</html>

